/* hide tab button when disabled by user modal code
 * and when in a modal that's created by another plugin */
.ppl-moe-disable-tab > [data-item-id="PPL_MOE"],
.powercord-fake-modal-container [data-item-id="PPL_MOE"] {
  display: none;
}

/* style the tab content */
.ppl-moe-section-header {
  display: flex;
  padding: 20px 0;
}
.ppl-moe-badges {
  text-align: right;
  flex: 1;
}

.ppl-moe-section-info {
  display: grid;
  grid-template-columns: repeat(3,minmax(0,1fr));
  grid-column-gap: 16px;
  grid-row-gap: 12px;
  padding: 0 0 20px;
}
.ppl-moe-section-info div {
  display: flex;
  flex-direction: column;
}
.ppl-moe-section-info h1 {
  display: flex;
  font-size: 12px;
  line-height: 16px;
  text-transform: uppercase;
}
.ppl-moe-section-header span,
.ppl-moe-section-info span {
  font-size: 14px;
  line-height: 18px;
  color: var(--text-normal);
  user-select: text;
  display: flex;
}
.ppl-moe-link {
  overflow: hidden;
  text-overflow: ellipsis;
  color: var(--text-link);
}
.ppl-moe-link:hover {
  text-decoration: underline;
}

.ppl-moe-section-bio {
  display: grid;
  grid-template-columns: 2 1;
  border-top: 1px solid var(--background-modifier-accent);
  padding: 20px 0 0;
}
.ppl-moe-section-bio h1 {
  display: flex;
}
.ppl-moe-section-bio span {
  white-space: unset;
}


/* style chat elements */
.ppl-moe-pronouns {
  font-size: 0.75rem;
  font-weight: 500;
  cursor: default;
}
.ppl-moe-profile-badge {
  vertical-align: top;
}

/* Hide pronoundb pronouns if after the ppl.moe ones */
.ppl-moe-pronouns-hide-pronoundb:not(:empty) ~ .pronoundb-pronouns {
  display: none;
}

/* ppl.moe tab icon */
.ppl-moe-tab-icon {
  text-indent: 100%;
  overflow: hidden;
  margin: 0 30px;
  width: 30px;
}
.ppl-moe-tab-icon:after {
  position: absolute;
  content: "";
  width: 30px;
  height: 30px;
  background-image: url("https://cdn.discordapp.com/icons/267500017260953601/034b9f1489370e90e499f426d7ea7bd6.webp");
  background-size: 100%;
  background-repeat: no-repeat;
  bottom: 18px;
}